body {
background-color: #fff7e0;    
}

div {
outline: 1px solid;    
}

.container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    height: 200px;
    width: 920px;
    background-color: #0000FF;
}

.submenu
{
    width: 220px;
    height: 500px;
    float: left;
    background-color: #ff0000;
}

.content{
    
    height: 500px;
    background-color: green;
    width: 700px;
    float: left;
}