body{
background-color: #fafae2    
}

div{
    outline: 1px solid;
}

.container{
    
    width: 920px;
    
    margin-left: auto;
    
    margin-right: auto;

}

.header{
    
    width: 920px;
    height:100px;
    background-color: blue;
}


.content{
    height: 400px;
    width: 920px;
    background-color: green;
    float: left
}

.imagebox{
    height: 50px;
    width: 430px;
    float: left;
    background-color: yellow;
    margin-top: 20px;
    margin-left: 20px     
    

}

.footer{
     width: 920px;
    height:440px;
    background-color: red;
    float: left;
    
}

.imagebox2{
    height: 260px;
    width: 230px;
    float: left;
    background-color: yellow;
    margin-top: 40px;
    margin-left: 60px     
    

}

.imagebox3{
    height: 60px;
    width: 830px;
    float: left;
    background-color: yellow;
    margin-top: 33px;
    margin-left: 50px
}

.portfolio{
    
    height: 750px;
    width: 920px;
    background-color: blue;
    float: left;
        
}

.portfolioheader{
    height: 50px;
    width: 900px;
    float: left;
    background-color: yellow;
    margin-top: 20px;
    margin-left: 10px 
    
    
}

.portfolioimage{
    height:200px;
    width: 200px;
    float: left;
    background-color: yellow;
    margin-top: 20px;
    margin-left: 24px       
    
    
}

.skills{
    
    height: 600px;
    width: 920px;
    background-color: green;
    float: left
}

.skillsheader{
    height: 110px;
    width: 830px;
    float: left;
    background-color: yellow;
    margin-top: 20px;
    margin-left: 45px
    
    
}

.skillscontent{
    
    height: 410px;
    width: 230px;
    float: left;
    background-color: yellow;
    margin-top: 30px;
    margin-left: 57px 
    
}

.newsboard{
    height: 500px;
    width: 920px;
    background-color: red;
    float: left

}

.newsboardheader{
    height: 40px;
    width: 830px;
    float: left;
    background-color: yellow;
    margin-top: 20px;
    margin-left: 50px
}

.newsboardimage{
    height: 390px;
    width: 490px;
    float: left;
    background-color: yellow;
    margin-top: 27px;
    margin-left: 50px   

}

.newsboardstory{
    height: 260px;
    width: 270px;
    float: left;
    background-color: yellow;
    margin-top: 27px;
    margin-left: 68.8px
}

.websiteinfomation{
    
    height: 60px;
    width: 920px;
    float: left;
    background-color: blue;

}