body{
    background-color: #fbffff;
}

div{
    outline: 2px solid;
}

.Container{
    position: relative;
    max-width: 1490px;
    margin-left: auto;
    margin-right: auto;
}

.Title{
    
    Height:200px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}

.Content{
   width:1200px;
   height:520px;
   overflow-y: scroll;
   float: left;
}

.Description{
    width: 290px;
    height: 520px;
    float: left;
}
